/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */

body {
    font-family: 'Poppins', sans-serif;
    background: #0f0f1a;
    color: white;
    overflow-x: hidden;
    position: relative;
}

/* BACKGROUND GLOW */

body::before {

    content: "";

    position: fixed;

    width: 600px;
    height: 600px;

    background: rgba(168, 85, 247, 0.15);

    border-radius: 50%;

    top: -200px;
    right: -200px;

    filter: blur(120px);

    z-index: -2;
}

body::after {

    content: "";

    position: fixed;

    width: 500px;
    height: 500px;

    background: rgba(59, 130, 246, 0.10);

    border-radius: 50%;

    bottom: -200px;
    left: -200px;

    filter: blur(120px);

    z-index: -2;
}
/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 80px;
    width: 100%;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
    color: #a855f7;

    text-shadow: 0 0 20px #a855f7;
}
.nav-links {
    display: flex;
    gap: 50px;
    list-style: none;
    margin-left: auto;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;

    transition: 0.3s;
}
.nav-links a::after {

    content: "";

    position: absolute;

    width: 0%;
    height: 2px;

    background: #a855f7;

    left: 0;
    bottom: 0;

    transition: 0.3s;
}

.nav-links a:hover {
    color: #a855f7;
}

.nav-links a:hover::after {
    width: 100%;
}
/* HERO SECTION */

.hero {
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10%;
}

.hero-content {
    max-width: 300px;
}
.hero-content{
    flex: 1;
}
.hero-content h1 {
    font-size: 50px;
     line-height: 1;
    margin-bottom: 20px;
}

.hero-content h1 span {
    color: #a855f7;
}

.hero-content h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.hero-content p {
    color: #cfcfcf;
}

/* BUTTON */

.btn {
    display: inline-block;

    padding: 15px 35px;

    background: #a855f7;

    color: white;

    text-decoration: none;

    border-radius: 40px;

    transition: 0.3s;
}

.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px #a855f7;
}

/* IMAGE */

.hero-image img {
    width: 350px;
    border-radius: 50%;

    border: 5px solid #a855f7;

    box-shadow: 0 0 40px #a855f7;

    animation: float 4s ease-in-out infinite;
}

/* ANIMATIONS */

.hero-content {
    animation: slideLeft 2s ease;
}

.hero-image {
    animation: slideRight 1.2s ease;
    margin-top: 120px;
}

/* KEYFRAMES */

@keyframes slideLeft {

    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {

    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes float {

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* ========================= */
/* SAE SECTION */
/* ========================= */

.sae-section {

    padding: 150px 10%;

}

.sae-title {

    text-align: center;

    font-size: 60px;

    margin-bottom: 80px;

    color: white;
}

.sae-container {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: 40px;
}

.sae-card {

    background: rgba(255, 255, 255, 0.05);

    border: 1px solid rgba(255,255,255,0.1);

    border-radius: 25px;

    overflow: hidden;

    backdrop-filter: blur(15px);

    transition: 0.4s;

    position: relative;
    display: flex;
flex-direction: column;
justify-content: space-between;
}

.sae-card:hover {

    transform: translateY(-10px);

    box-shadow: 0 0 30px rgba(168, 85, 247, 0.5);
}

.sae-card img {

    width: 100%;

    height: 220px;

    object-fit: cover;
}

.sae-content {

    padding: 30px;
    flex: 1;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.sae-content h2 {

    font-size: 30px;

    margin-bottom: 15px;

    color: #a855f7;
}

.sae-content p {

    color: #d1d1d1;

    line-height: 1.7;

    margin-bottom: 25px;
}

/* ========================= */
/* PAGE SAE DETAIL */
/* ========================= */

.project-header {

    position: relative;

    width: 100%;
    height: 60vh;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.project-header img {

    width: 100%;
    height: 100%;

    object-fit: cover;

    filter: brightness(40%);
}

.project-overlay {

    position: absolute;

    width: 100%;
    height: 100%;

    background: linear-gradient(to bottom,
            rgba(15, 15, 26, 0.2),
            rgba(15, 15, 26, 1));

    z-index: 1;
}

.project-header-content {

    position: absolute;

    z-index: 2;

    text-align: center;
}

.project-header-content h1 {

    font-size: 80px;

    color: white;

    margin-bottom: 20px;
}

.project-header-content p {

    font-size: 24px;

    color: #d1d1d1;
}

/* CONTENU */

.project-content {

    padding: 100px 10%;

    display: flex;

    flex-direction: column;

    gap: 40px;
}
.project-content p {

    font-size: 22px;

    line-height: 1.9;

    font-weight: 500;
}

.project-content li {

    font-size: 22px;

    line-height: 1.9;
}

.project-content h2 {

    font-size: 48px;

    font-weight: 700;
}

.content-box {

    background: rgba(255,255,255,0.05);

    border: 1px solid rgba(255,255,255,0.1);

    border-radius: 25px;

    padding: 40px;

    backdrop-filter: blur(15px);

    transition: 0.4s;
}

.content-box:hover {

    transform: translateY(-5px);

    box-shadow: 0 0 25px rgba(168, 85, 247, 0.4);
}

.content-box h2 {

    font-size: 35px;

    margin-bottom: 25px;

    color: #a855f7;
}

.content-box p {

    color: #d1d1d1;

    line-height: 1.9;

    font-size: 18px;
}

.content-box ul {

    padding-left: 20px;

    color: #d1d1d1;

    line-height: 2;
}

.code-box {

    background: #0a0a14;

    border-left: 4px solid #a855f7;

    padding: 20px;

    margin: 25px 0;

    border-radius: 15px;

    color: #a855f7;

    font-family: monospace;

    overflow-x: auto;
}

.figure-text {

    margin-top: 25px;
    margin-bottom: 15px;

    color: #d1d1d1;

    font-size: 15px;

    font-style: italic;
}

.figure-text {

    margin-top: 25px;
    margin-bottom: 15px;

    color: #ffffff;

    font-size: 18px;

    font-weight: 600;

    font-style: italic;
}

/* ========================= */
/* PAGE SAE12 */
/* ========================= */

.page-sae {
    background: linear-gradient(to right, #050516, #0a0a2a);
    color: white;
}

/* HERO */

.hero-sae12 {
    position: relative;

    width: 100%;
    height: 100vh;

    background: url("images/sae12.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.hero-sae12 .overlay {
    position: absolute;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.65);
}

/* TEXTE HERO */

.hero-content-sae {
    position: relative;
    z-index: 2;

    text-align: center;
}

.hero-content-sae h1 {
    font-size: 90px;
    font-weight: bold;

    color: white;

    margin-bottom: 20px;

    text-shadow: 0 0 25px rgba(0,0,0,0.8);
}

.hero-content-sae p {
    font-size: 28px;
    color: white;

    text-shadow: 0 0 20px rgba(0,0,0,0.8);
}

/* CONTENU */

.sae-detail {
    width: 85%;
    margin: auto;

    padding-top: 80px;
    padding-bottom: 80px;
}

/* BLOCS */

.bloc-sae {
    background: rgba(255,255,255,0.05);

    border: 1px solid rgba(255,255,255,0.08);

    border-radius: 30px;

    padding: 50px;

    margin-bottom: 70px;

    box-shadow: 0 0 35px rgba(168,85,247,0.15);
}

/* TITRES */

.bloc-sae h2 {
    font-size: 42px;

    color: #a855f7;

    margin-bottom: 35px;
}

.bloc-sae h3 {
    font-size: 30px;

    color: white;

    margin-top: 40px;
    margin-bottom: 20px;
}

/* PARAGRAPHES */

.bloc-sae p {
    font-size: 22px;

    line-height: 1.9;

    margin-bottom: 25px;

    color: #e5e5e5;
}

/* COMMANDES */

.commande {
    background: #090909;

    border-left: 5px solid #a855f7;

    padding: 22px;

    border-radius: 15px;

    margin-top: 20px;
    margin-bottom: 30px;

    font-size: 20px;

    font-family: monospace;

    color: #d8b4fe;
}

/* FIGURES */

.figure {
    font-size: 21px;

    font-weight: bold;

    color: white;

    margin-top: 30px;
    margin-bottom: 20px;
}

/* IMAGES */

.image-sae {
    width: 100%;

    border-radius: 20px;

    margin-bottom: 35px;

    border: 2px solid rgba(255,255,255,0.08);

    transition: 0.4s;
}

.image-sae:hover {
    transform: scale(1.01);

    box-shadow: 0 0 30px rgba(168,85,247,0.45);
}

/* LISTES */

.liste-sae {
    padding-left: 35px;

    margin-top: 20px;
}

.liste-sae li {
    font-size: 22px;

    line-height: 1.8;

    margin-bottom: 15px;
}
/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 80px;

    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 1000;
}

.logo {
    font-size: 3rem;
    font-weight: bold;

    color: #a855f7;

    text-shadow: 0 0 20px #a855f7;
}

.nav-links {
    display: flex;

    gap: 50px;

    list-style: none;

    margin-left: auto;
}

.nav-links a {
    color: white;

    text-decoration: none;

    font-size: 1.2rem;

    font-weight: 600;

    transition: 0.3s;
}

.nav-links a:hover {
    color: #a855f7;
}
.navbar {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 80px;

    z-index: 100;
}

.nav-links {
    display: flex;
    gap: 50px;

    list-style: none;

    margin-left: auto;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.logo {
    color: #a855f7;
    font-size: 70px;
    font-weight: bold;
}

/* ========================= */
/* SAE14 */
/* ========================= */

.hero-sae14 {
    position: relative;

    width: 100%;
    height: 100vh;

    background:
    linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.75)),
    url("images/sae14.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.hero-content-sae14 {
    position: relative;
    z-index: 2;

    text-align: center;
}

.hero-content-sae14 h1 {
    font-size: 110px;
    font-weight: bold;

    color: white;

    margin-bottom: 20px;
}

.hero-content-sae14 p {
    font-size: 38px;
    color: white;
}

.sae14-detail {
    width: 85%;
    margin: auto;

    padding-top: 80px;
    padding-bottom: 80px;
}

.bloc-sae14 {
    background: rgba(255,255,255,0.05);

    border: 1px solid rgba(255,255,255,0.08);

    border-radius: 30px;

    padding: 50px;

    margin-bottom: 70px;

    box-shadow: 0 0 35px rgba(168,85,247,0.15);
}

.bloc-sae14 h2 {
    font-size: 42px;

    color: #a855f7;

    margin-bottom: 35px;
}

.bloc-sae14 h3 {
    font-size: 30px;

    color: white;

    margin-top: 40px;
    margin-bottom: 20px;
}

.bloc-sae14 p {
    font-size: 22px;

    line-height: 1.9;

    margin-bottom: 25px;

    color: #e5e5e5;
}

.commande {
    background: #090909;

    border-left: 5px solid #a855f7;

    padding: 22px;

    border-radius: 15px;

    margin-top: 20px;
    margin-bottom: 30px;

    font-size: 20px;

    font-family: monospace;

    color: #d8b4fe;
}

.figure {
    font-size: 22px;

    font-weight: bold;

    color: white;

    margin-top: 30px;
    margin-bottom: 20px;
}

.image-sae14 {
    width: 100%;

    border-radius: 20px;

    margin-bottom: 35px;

    border: 2px solid rgba(255,255,255,0.08);

    transition: 0.4s;
}

.image-sae14:hover {
    transform: scale(1.01);

    box-shadow: 0 0 30px rgba(168,85,247,0.45);
}

/* ========================= */
/* SAE14 */
/* ========================= */

.project-image {

    width: 75%;

    display: block;

    margin: 30px auto;

    border-radius: 20px;

    border: 2px solid rgba(255,255,255,0.08);

    transition: 0.4s;
}

.project-image:hover {

    transform: scale(1.01);

    box-shadow: 0 0 30px rgba(168,85,247,0.45);
}

/* AC */

.liste-sae {
    padding-left: 35px;

    margin-top: 25px;
}

.liste-sae li {
    font-size: 22px;

    line-height: 1.9;

    margin-bottom: 18px;

    color: #e5e5e5;
}
.ac-explication{
    margin-top: 20px;
    line-height: 1.8;
    color: #d6d6d6;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#050816;
    color:white;
}

/* HERO */

.hero{
    height:100vh;
    background:
    linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
    url("images/sae15-bg.jpg") center/cover;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:40px 80px;
}

.logo{
    font-size:4rem;
    color:#a855f7;
    font-weight:700;
    text-shadow:0 0 20px #a855f7;
}

.nav-links{
    display:flex;
    gap:40px;
    list-style:none;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-weight:600;
    transition:0.3s;
}

.nav-links a:hover{
    color:#a855f7;
}

.hero-content{
    height:80%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero-content h2{
    font-size:1.3rem;
    margin-bottom:40px;
}



/* CONTENU */

.container{
    width:85%;
    margin:auto;
    padding:80px 0;
}

.card{
    background:rgba(255,255,255,0.03);
    border:1px solid rgba(255,255,255,0.08);
    border-radius:25px;
    padding:50px;
    margin-bottom:50px;
    box-shadow:0 0 25px rgba(168,85,247,0.15);
}

.card h2{
    color:#a855f7;
    font-size:2.4rem;
    margin-bottom:30px;
}

.card h3{
    font-size:2rem;
    margin-top:40px;
    margin-bottom:20px;
}

.card p{
    line-height:2;
    color:#d1d5db;
    margin-bottom:20px;
    font-size:1.05rem;
}

/* CODE */

.code-box{
    background:#111827;
    padding:25px;
    border-radius:15px;
    margin:25px 0;
    font-family:monospace;
    overflow-x:auto;
}

/* IMAGES */

.card img{
    width:75%;
    display:block;
    margin:30px auto;
    border-radius:20px;
    border:2px solid rgba(255,255,255,0.08);
}

/* FIGURE */

.figure{
    font-style:italic;
    color:#9ca3af;
}

/* AC */

.ac-list{
    padding-left:25px;
}

.ac-list li{
    margin-bottom:18px;
    line-height:1.8;
}

/* RESPONSIVE */

@media(max-width:900px){

    .navbar{
        flex-direction:column;
        gap:20px;
    }

    .nav-links{
        flex-wrap:wrap;
        justify-content:center;
    }

    
  